@model IEnumerable<Press_Agency_System.Models.Post>

@{
    ViewBag.Title = "ShowQuestions";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}
@if (Session["Username"] == null)
{
    Response.Redirect("~/User/Login");

}
else if (Session["Role"].Equals("Editor"))
{
    <h2>All Questions</h2>
    if (!Model.Any())
    {
        <div>
            <h3>There is no posts yet</h3>
        </div>
    }
    else
    {
        <table id="posts" class="table table-striped table-bordered table-hover">


            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Question)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td> @Html.DisplayFor(modelItem => item.Question)</td>

                        <td>
                            @Html.ActionLink("Answer the Question", "AnswerQuestion", new { id = item.Id }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
}
